<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
        <header>
            <p class="login"><a href="http://localhost/hackaton-static">Connexion</a>|<a href="http://localhost/hackaton-static">Se connecter</a></p>
            <!-- <p></p> -->
        </header>
        <div class="white">
            <h1 class="bigTitle">Party with me</h1>
            <div class="list1">
                <ul>
                    <li><a href="http://localhost/hackaton-static/views/agenda/agenda.html">Agenda</a></li>
                    <li><a href="#">Salles</a></li>
                    <li><a href="#">Concept</a></li>
                    <li><a href="http://localhost/hackaton-static/views/create/create.html">Créer</a></li>
                    <li><a href="http://localhost/hackaton-static/views/search/search.html">Recherche</a></li>
                </ul>
            </div>
        </div>
    <div class="container">
		<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=coquelet.c%40gmail.com&amp;color=%232952A3&amp;ctz=Europe%2FParis" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <footer>
        <div class="black">
            <div class="list2">
                <ul>
                    <li>Contacts</li>
                    <li>A propos</li>
                    <li>Feedback</li>
                    <li>CGU</li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>
