html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-style: helvetica;
}

header {
  height: 70px;
  background-color: black;
  position: relative;
}

.white {
  height: 120px;
  background-color: white;
  color: black
}

h2 {
  font-weight: lighter;
}

.login {
  color: white;
  /*float: right;*/
  margin-top: 5%;
  width: 220px;
  position: absolute;
  right: 0%;
  bottom: calc(10px + 2%);
}

.login a {
  text-decoration: none;
  color: white;
  margin: 4px;
}
.bigTitle {
  font-size: 2em;
  width: auto;
  margin: 7px auto 0px 42%;
  /*float: left;*/
  text-transform: uppercase;
  /*margin-left: 45%;*/
}

.list1 { 
  width: 100%;
  float: right;
  margin-top: 20px;

}
.list1 ul { 
  list-style:none; 
  text-align:center; 
  border-top:1px solid #eee; 
  border-bottom:1px solid #eee; 
  padding:10px 0; 
}
.list1 ul li {
  display:inline;
  text-transform:uppercase;
  padding:0 10px; 
  letter-spacing:10px;
}
.list1 ul li a { 
  text-decoration:none; 
  color:black; 
}
.list1 ul li a:hover {
  text-decoration:underline;
}

.list2 { 
  width: 100%;
  float: right;
  margin-top: 20px;
  color: white

}
.list2 ul { 
  list-style:none; 
  text-align:center; 
  border-top:1px solid white; 
  border-bottom:1px solid white; 
  padding:10px 0; 
}
.list2 ul li {
  display:inline;
  text-transform:uppercase;
  padding:0 10px; 
  letter-spacing:10px;
}
.list2 ul li a { 
  text-decoration:none; 
  color:black; 
}
.list2 ul li a:hover {
  text-decoration:underline;
}

.black {
  width: 100%;
  background-color: black;
  height: 80px;
}

.clear {
  clear: both;
}

.formwrapper a {
  float: left;
  margin: 10px;
  font-size: 10px;
  color: gray;
}

.formwrapper {
  border: solid gray 1px;
  width: 30%;
  margin: 45px auto;
  text-align: center;
  padding: 8px;
  box-shadow: 0 0 6px 0;
}

.inputsearch {
  margin: 15px 0px;
}

input[type="submit"] {
  border-radius: 8px;
  border: none;
  box-shadow: 0px 1px 2px 1px #808080;
  background-image: linear-gradient(gray, black);
  color: white;
}

footer {
  position:absolute;
  bottom:0;
  left:0;
  width: 100%;
}

iframe {
	margin-left: 30%;
}
